<div class="container my-3">
    <div class="jumbotron">
        <h1 class="display-4">Hello, world!</h1>
        <h1 class="display-4">•About the application</h1>
        <p>This app was made in a JAVASCRIPT Framework called Angular.</p>
        <p class="lead"></p>
        <hr class="my-4">
        <h3 class="display-4">•Where this application stores your data</h3>
        <p>This application stores your data/todos in your pc as localitem in localstorage . So no other can see your todos. So dont worry your data is safe.</p>
        <p class="lead"></p>
        <hr class="my-4">
        <h1 class="display-4">•Want to make a webapp like me ? </h1>
        <p>So go and click the button down where you can also make a app like me .</p>
    </div>
    <a class="btn btn-primary btn-sm" target="_blank" href="https://www.youtube.com/c/CodeWithHarry" role="button">Learn coding here</a>
  </div>
